@media (max-width:1370px)
{
    .form
    {
        background: none;
    }
}

@media (max-width:1200px)
{
    
    .news-inner
    {
        display: block; 
    }
    .news__slider
    {
        min-width: 100%;
        margin-bottom: 70px;
    }
    .news__slider button
    {
        background-color: var(--accent-color);
    }
    .news__slider-inner .slider-arrow
    {
        bottom: -30px;
    }
    .news-inner > div:nth-child(2)
    {
        display: flex;
        justify-content: space-evenly;
    }

    .footer__content
    {
        flex-direction: column;
    }
    .footer__content-left
    {
        margin: 20px auto;
        text-align: center;
    }
    .footer__content-right iframe
    {
        width: 95vw;
    }
}

@media (max-width:920px)
{
    .form__box-inner
    {
        display: block;
    }
    .form__content .△box
    {
        max-width: 90%;
    }
    .form__box-right
    {
        width: unset;    
        min-width: unset;
        margin-left: 0;
    }
}

@media (max-width:820px)
{
    .slider__inner button
    {
        display: none;
    }
    .news__top
    {
        flex-direction: column;
    }
    .news__top > div:nth-child(2)
    {
        align-self: center;
    }
    .about__items
    {
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }
    .about__items-item
    {
        margin-top: 80px;
    }
    .slider__btn
    {
        margin-top: 0;
    }
}

@media (max-width:720px)
{
    .header__contacts
    {
        /* flex-direction: column; */
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    .header__phone
    {
        padding-left: 20%;
    }
    .header__btn
    {
        width: 100%;
        margin-left: unset;
        text-align: center;
    }
    .slider__title
    {
        font-size: 1.5rem;

    }
    .slider__text
    {
        font-size: 0.8rem;
    }
}

@media (max-width:700px)
{
    .slider__btn
    {
        margin-left: 0;
    }
    .advantages__inner
    {
        align-items: center;
        flex-direction: column;
    }
    .advantages__title
    {
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .advantages__title h4
    {
        margin: 0;
    }

    .about__top
    {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .about__top a.△btn-transparent
    {
        max-width: 273px;
        align-self: center;
    }
}

@media (max-width:660px)
{
    .slider__item-content
    {
        font-size: 1rem;
        text-align: left;
        min-width: unset;
        margin-left: 20px;
    }
        .about__items-item:nth-child(2),
    .about__items-item:nth-child(3)
    {
        margin-top: 130px;
    }
    .about__item-links a
    {
        display: inline-block;
    }
    .about__item-links a:first-child
    {
        margin-left: 20vw;
    }
    .about__item-links a
    {
        margin-left: 40px;
    }
    .about__item-links a.slider__btn
    {
        margin-top: 10px;
    }
}

@media (max-width:620px)
{
    .header__content-inner
    {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .header__logo
    {
        margin: auto;
        margin-bottom: 20px;
    }

    .news__blog
    {
        max-width: unset;
        width: 100vw;
    }
    .news-img-1::after,
    .news-img-2::after
    {
        width: 100vw;
    }
    .news__blog-title,
    .news__blog-text
    {
        margin: 0 20px;
    }
}

@media (max-width:600px)
{
    .header__phone
    {
        padding-left: 15%;
    }
    .news-inner > div:nth-child(2)
    {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:560px)
{
    .header__phone
    {
        padding-left: 10%;
    }
}

@media (max-width:490px)
{
    .header__phone, .header__email
    {
        margin: auto;
    }
    .about__item-links a:first-child
    {
        margin-left: 5vw;
    }
    .about__item-links a
    {
        margin-left: 40px;
    } 
}

@media (max-width:350px)
{
    .form__content .△box
    {
        padding: 15px 0;
    }
    .form__content .△box::before
    {
        display: none;
    }
    .form__box-rigth
    {
        padding-right: 0;
    }
}
